body {
	background-image: linear-gradient(to right, #cc66ff , #4da6ff);
	text-align: center;
}
h1, h3 {
	text-transform: uppercase;
	font-style: italic;
	font-family: Georgia;
	text-align: center;
	margin-left: 13%;
}
h1 {
	text-shadow: 2px 2px #660033;
}
#sonido{
	color: red;
	font-size: 1em;
}
h3 {
	text-shadow: 2px 2px #004080;
	margin-bottom: 50px;
	margin-left: 0;
}
img {
	float: right;
}
#dab {
	float: none;
}
#loading {
	display: block;
	margin: auto;
	float: none;
}
div{
	font-weight: bold;
}
#inst {
	font-weight: normal;
	margin-right:25%;
	margin-left: 25%;
	font-size: 2em;
}
#primero {
	color: #ff0000;
}
#segundo{
	color: #e65c00;
}
#tercero {
	color: #ffff00;
}
#cuarto{
	color: #009900;
}
#quinto {
	color: #003300;
}
#sexto{
	color: #0040ff;
}
#septimo {
	color: #00264d;
}
#octavo {
	color: #660066;
}
#noveno {
	color: #ff1a75;
}
#decimo {
	color:white;
}
input, textarea {
	text-align: center;

}
form #fin {
	background-image:url(../images/colores.png);
	background-repeat:no-repeat;
  	height:70px;
  	width:150px;
  	background-position:center;
}
form #repetir {
	background-image:url(../images/dark.png);
	background-repeat:no-repeat;
  	height:70px;
  	width:150px;
  	background-position:center;
  	color: white;
}
form #inicio,#reinicio {
	background-color: lightblue;
	background-repeat: no-repeat;
	height: 70px;
	width: 100px;
	background-position: center;
}
#guiño, #once, #once1 {
	float: none;
	vertical-align: middle;
}
ul {
	list-style-type: none;
	margin-left: 43%;
	text-align: justify;
}
#gif1 {
	float: left;
}
